{% extends "base_generica.html" %}

{% block content %}
{% load static %}
<h1>Django página de inicio</h1>

  <p>Bienvenido a la web básica y simple que utiliza Django REST Framework, Django, y Python para permitir al usuario
hacer un mantenimiento CRUD de naves espaciales de series y películas.</p>

<h2>Contenido de la API</h2>

  <h3>Explicacion de uso</h3>
  <div style="width:100%">
      <div style="float:left;width:50%">
        <ul>
            <li><strong>INICIO: </strong> Página principal de la aplicación -> <strong>OK</strong></li>
            <li><strong>SISTEMA DE USUARIOS: </strong>
                <ul>
                    <li>login: <strong>OK</strong></li>
                        <ul><li> Se ha probado que no puedes aceder al inicio sin hacer login</li></ul>
                    <li>logout: <strong>OK</strong></li>
                    <li>registro: <strong>OK</strong></li>
                    <li>Cambiar contraseña: <strong>OK</strong></li>
                    <li>Cambiar contraseña olvidada: aún por hacer</li>
                </ul>
            </li>
            <li><strong>INSERTAR NUEVA NAVE : OK </strong></li>
            <li><strong>MOSTRAR TODAS LAS NAVES: </strong> aún por hacer</li>
            <li><strong>MOSTRAR NAVE POR ID: </strong> aún por hacer</li>
            <li><strong>MOSTRAR NAVES POR NOMBRE: </strong> aún por hacer</li>
            <li><strong>ACTUALIZAR NAVE: </strong> aún por hacer</li>
            <li><strong>BORRAR NAVE: </strong> aún por hacer</li>
        </ul>
      </div>
      <div style="float:right;width:50%">
          <img src="{% static 'images/nave.jpg' %}" alt="IrisImage" width="500" height="300">
      </div>
  </div>

{% endblock %}