{% extends "base_generica.html" %}

{% block content %}
{% load static %}
<h1>Django página de inicio</h1>

  <p>Bienvenido a la web básica y simple que utiliza Django REST Framework, Django, y Python para permitir al usuario
hacer un mantenimiento CRUD de naves espaciales de series y películas.</p>

<h2>Contenido de la API</h2>

  <h3>Explicacion de uso</h3>
  <div style="width:100%">
      <div style="float:left;width:50%">
        <ul>
            <li><strong>SISTEMA DE USUARIOS: </strong>
                <ul>
                    <li>login: ok -> probar con usuario: harol, pass: appScrud</li>
                    <li>logut: ok</li>
                    <li>registro: aun por hacer </li>
                </ul>
            </li>
            <li><strong>INICIO: </strong> OK: Página principal de la aplicación</li>
            <li><strong>MOSTRAR TODAS LAS NAVES: </strong> aún por hacer</li>
            <li><strong>MOSTRAR NAVE POR ID: </strong> aún por hacer</li>
            <li><strong>MOSTRAR NAVES POR NOMBRE: </strong> aún por hacer</li>
            <li><strong>AÑADIR NUEVA NAVE </strong> aún por hacer</li>
            <li><strong>ACTUALIZAR NAVE: </strong> aún por hacer</li>
            <li><strong>BORRAR NAVE: </strong> aún por hacer</li>
        </ul>
      </div>
      <div style="float:right;width:50%">
          <img src="{% static 'images/nave.jpg' %}" alt="IrisImage" width="500" height="300">
      </div>
  </div>

{% endblock %}